.input {
  width: 100%;
  background-color: #f0f4f8;
  border: 1px solid #bcccdc;
  padding: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  margin: 0.8rem 0;
}

.invalid {
  border-color: red;
  background: #fbdada;
  margin-bottom: 0;
}

.error_text {
  color: red;
}
